

.t-caret {
	font-size: 50px;
	color: $base_green;
	display: inline-block;
	vertical-align: 6px;
}
.vis {
	visibility: hidden;
}
.header1 {
	color : $base_green;
	font-size: 60px;
	font-weight: 900;
	@include responsive(mobile) {
		font-size: 40px;
	}
}

.header2 {
	color : $white;
	font-size: 45px;
	font-weight: 400;
	@include responsive(mobile) {
		font-size: 20px;
	}
}

.blinking-cursor {
  font-weight: 100;
  color: white;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
  font-weight: 700;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}